* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

header {
    background-color: #3e2723;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.logo {
    color: white;
    font-size: 26px;
    font-weight: bold;
}

.logo a{
    text-decoration: none;
    color: inherit;
}
nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-size: 16px;
}

nav a:hover {
    color: #ffcc80;
}

main {
	background-image:url(smoke.jpg);
	color: white;
    padding: 60px;
    text-align: center;
}

form{
	background-color: #3e2723;
}
footer {
    background-color: #2e1f1a;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: auto;   
}

fieldset {
    width: 350px;
    padding: 25px;
    border-radius: 10px;
    border: 2px solid #3e2723;
    background-color: white;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;

}

input {
    width: 500px;
    padding: 10px;
    margin-top: 6px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 200px;
    margin-top: 20px;
    padding: 12px;
    background-color: #3e2723;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #5d4037;
}
.info-section {
    display: flex;              
    align-items: center;        
    justify-content: space-between;
    gap: 30px;                  
    padding: 40px;
}

.text-box {

    width: 60%;
}

.image-box {
    width: 40%;
}

.image-box img {
    width: 100%;                
    border-radius: 12px;
}
h3{
	background-color: #3e2723;
	text-align: center;
	color: white;
	height: 50px;
	padding: 15px 40px;
}
.top-picks {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.coffee-card {
  width: 23%;
  text-align: center;
}

.coffee-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.coffee-card p {
  margin-top: 10px;
  font-weight: 750;
}

.coffee-card price {
  margin-top: 8px;
  font-weight: bold;
  color: #6f4e37; /* coffee brown */
}

.about-us {
  padding: 60px 10%;
  background-color: #f9f5f2;
}

.about-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.about-image {
  width: 45%;
}

.about-image img {
  width: 100%;
  border-radius: 15px;
}

.about-content {
  width: 55%;
}

.about-content h2 {
  margin-bottom: 15px;
  color: #3b2f2f;
}

.about-content p {
  margin-bottom: 15px;
  line-height: 1.6;
  color: #444;
}

.about-content ul {
  list-style: none;
  padding: 0;
}

.about-content ul li {
  margin-bottom: 8px;
  font-weight: 500;
}
/* video insertion */
.shorts-row {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding: 20px;
}

.shorts-row video {
    width: 23%;
    height: 400px;
    border-radius: 12px;
    object-fit: cover;
    cursor: pointer;
}

#cartTable th,
#cartTable td {
    text-align: center;
    font-weight: bold;
}